{% extends "base.html" %}

{% block title %}À propos - Herbature{% endblock %}

{% block content %}
<section class="hero">
    <h1>À propos de Herbature</h1>
    <p>Notre histoire, nos valeurs, notre équipe</p>
</section>

<div class="container">
    <div class="about-section">
        <h2>Notre Histoire</h2>
        <div class="about-content">
            <p>Nous avons décidé à trois de créer un projet révolutionnaire pour ceux qui ont créé une agoraphobie, pour répondre à leur besoin de redécouvrir la nature en restant tout de même chez eux. C'est comme cela que le projet Herbature est né.</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Notre Mission</h2>
        <div class="about-content">
            <p>Une très grosse gamme de choix qui pourra correspondre aux plus gros et petits budgets pour vous plaire.</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Nos Valeurs</h2>
        <div class="about-content">
            <p>Nous nous engageons à satisfaire vos besoins et à respecter nos produits de qualité à un prix raisonnable.</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Notre Équipe</h2>
        <div class="about-content">
            <p>Nous sommes au nombre de 3, Antoine, Léo et Inès. Partis de rien, nous avons pu créer notre projet et évoluer au cours du temps pour pouvoir arriver jusqu'ici.</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Nos Engagements</h2>
        <div class="about-content">
            <p>Nous travaillons à faire des produits plus équitables et écologiques pour notre planète pour rester un commerce le plus propre possible.</p>
        </div>
    </div>
</div>
{% endblock %}